@font-face {
  font-family: supercell-magic;
  src: url(fontcr/supercell-magic-webfont.ttf);
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
}

.header{
  width: 100%;
  background: linear-gradient(#222, #333);
  box-shadow: 1px 1px 3px #222;
  color: white;
}

.judul{
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 3px;
  font-size: 17px;
  text-shadow: 1.5px 4px 1px #000;
}

.rarity{
  width: 100%;
  display: flex;
  justify-content: center;
}

.rarity button{
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: none;
  text-shadow: 1px 3px 1px #000;
  cursor: pointer;
}

.rarity button:hover{
  background-color: #22222285;
}

button.common:focus{
  box-shadow: 0 -3px 0 #ddd inset;
  color: #ddd;
}

button.rare:focus{
  box-shadow: 0 -3px 0 rgb(252, 106, 38) inset;
  color: rgb(252, 106, 38);
}

button.epic:focus{
  box-shadow: 0 -3px 0 purple inset;
  color: purple;
}

button.legendary:focus{
  box-shadow: 0 -3px 0 rgb(111, 253, 123) inset;
  color: rgb(111, 253, 123);
}

button.champion:focus{
  box-shadow: 0 -3px  0 gold inset;
  color: gold;
}

.cards{
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  margin: 50px auto 0px auto;
  min-height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 5px 15px #222;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

.card{
  border-radius: 15px;
}
.card img{
  width: 142px;
  height: 180px;
}

/* 
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
} */
/* 
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
